apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: backend-service:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 5000
        env:
          # Python reads these keys. If you remove one, the Pod crashes.
          - name: STACK_URL
            value: "http://stack-service:80"
          - name: GRAPH_URL
            value: "http://graph-service:5000"
          - name: LINKEDLIST_URL
            value: "http://linkedlist-service:8080"
---
apiVersion: v1
kind: Service
metadata:
  name: backend-service
spec:
  type: ClusterIP
  selector:
    app: backend
  ports:
    - port: 5000
      targetPort: 5000