apiVersion: apps/v1
kind: Deployment
metadata:
  name: graph-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: graph
  template:
    metadata:
      labels:
        app: graph
    spec:
      containers:
      - name: graph
        image: graph-service:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 5000
        # --- NEW: Database Connection Info ---
        env:
        - name: DB_HOST
          value: "postgres-service"
        - name: DB_USER
          valueFrom:
            secretKeyRef:
              name: db-credentials
              key: username
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: db-credentials
              key: password
        - name: DB_NAME
          valueFrom:
            secretKeyRef:
              name: db-credentials
              key: dbname
---
apiVersion: v1
kind: Service
metadata:
  name: graph-service
spec:
  type: ClusterIP
  selector:
    app: graph
  ports:
    - port: 5000
      targetPort: 5000