main {
    flex: 1;
    padding: padding;
    background: secondary-color;

    section {
        margin-bottom: 1.5rem;

        h2 {
            margin-bottom: 0.5rem;
        }

        p {
            margin-bottom: 1rem;
        }
    }
}
